html {
    background-image: url(Taps.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }

  .mapboxgl-popup-content{
    text-align: left;
    font-size: 1.2em;
    font-weight: bolder;
    background-color: rgb(255 220 85)
  }
  
  .textBox { 
    text-align: left;
    font-size: 1.2em;
    font-weight: bolder;
    background-color: rgb(255 220 85)
  }

  .title, .subtitle, .paragrahOne {
    font-family: 'Oswald', sans-serif;
  }

  .paragrahOne {
    font-size: larger;
  }